<section id="about">
    <div id="pic">
        <h1 class="heading">ABOUT ME</h1>
        <img src="assets/images/my img1.jpeg" alt="">
        <div id="intro">
            <h2>Swati S Limbitot</h2>
    <p>I am Swati S Limbitot. Bascially belongs to Gulbarga distict, currently staying in Vijayapur.I Completed my primary and secondary education in Royal Palace Schoo; ,Jamkhandi.
        I Completed my PU in Gnyan Gangotri PU Science college, Jamkhandi. Currently pursuing BE in CS in BLDEA's. My hobbies are Dancing ,listing to music and playing games.
    </p>
        </div>
    </div>
</section>    
