<section id="contact">
    <h1 class="h-primary center">CONTACT US</h1>
    <div id="contact-box">
      <form action="">
        <div class="from-group">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" placeholder="Enter your name">
        </div>
        <div class="from-group">
          <label for="name">Email:</label>
          <input type="text" name="name" id="email" placeholder="Enter your Email">
        </div>
        <div class="from-group">
          <label for="name">Phone no.:</label>
          <input type="text" name="name" id="phone" placeholder="Enter your Phone no.">
        </div>
        <div class="from-group">
          <label for="message">Message:</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
      </form>
    </div>
   </section>