<section id ="portfolio">
      <h1 class="h-primary center">MY PORTFOLIO</h1>
    <div id="portfolio-box">

      <div class="container">
            <div class ="one">
                <h2>Skills</h2>
                <p>Basic C</p>
                <p>Python</p>
                <p>Html and CSS</p>
                
                
            </div>

            <div class ="one">
                <h2>Projects</h2>
                <p>DBMS</p>
                <p>Python</p>
                <p>Web Development</p>
                
            </div>

            <div class ="one">
                <h2>Certificates</h2>
                <p>Basic of C Programming</p>
                <p>Data Structure &algorithm using C & C++</p>
                <p></p>
                
            </div>

            <div class ="one">
                <h2>Internship</h2>
                <p>Full stack in python</p>
                <p>UI full stack<br>(pursing)</p>
                
                
            </div>
      </div>
            


</div>
</section>
